<template>
    <div>
        <div>
            <div class="md:grid md:grid-cols-3 md:gap-6">
                <div class="md:col-span-1">
                    <div class="px-4 sm:px-0">
                        <h3 class="text-lg font-medium leading-6 text-gray-900">Account Profile</h3>
                        <p class="mt-1 text-sm text-gray-600">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati, amet.
                        </p>
                    </div>
                </div>
                <div class="mt-5 md:col-span-2 md:mt-0">
                    <form action="#" method="POST">
                        <div class="shadow sm:overflow-hidden sm:rounded-md">
                            <div class="space-y-6 bg-white px-4 py-5 sm:p-6">
                                <div class="hidden mt-1 rounded-md shadow-sm">
                                    <span
                                        class="inline-flex items-center rounded-l-md border border-r-0 border-gray-300 bg-gray-50 px-3 text-sm text-gray-500">id</span>
                                    <input v-model="form.id" type="text" name="id" id="id"
                                        class="block w-full flex-1 rounded-none rounded-r-md border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                                        placeholder="www.example.com" />
                                </div>
                                <div class="grid grid-cols-3 gap-6">
                                    <div class="col-span-3 sm:col-span-2">
                                        <label for="company-website"
                                            class="block text-sm font-medium text-gray-700">Username</label>
                                        <div class="mt-1 flex rounded-md shadow-sm">
                                            <span
                                                class="inline-flex items-center rounded-l-md border border-r-0 border-gray-300 bg-gray-50 px-3 text-sm text-gray-500">@</span>
                                            <input v-model="form.username" type="text" name="company-website" id="company-website"
                                                class="block w-full flex-1 rounded-none rounded-r-md border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" />
                                        </div>
                                    </div>
                                    <div class="">
                                        <label for="username"
                                            class="block text-sm font-medium text-gray-700 capitalize">Angkatan</label>
                                        <select v-model="form.angkatan_id" id="angkatan" name="angkatan" class="mt-1 block w-full rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm capitalize">
                                            <option selected disabled value="default">Pilih Angkatan</option>
                                            <option v-for="(item,index) in angkatan" :key="index" :value="item.id">{{ item.nama_angkatan }}</option>
                                        </select>
                                    </div>
                                </div>

                                <div>
                                    <label for="about" class="block text-sm font-medium text-gray-700">Tentang Saya</label>
                                    <div class="mt-1">
                                        <textarea v-model="form.biodata" id="about" name="about" rows="3"
                                            class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                                            placeholder="you@example.com" />
                                    </div>
                                    <p class="mt-2 text-sm text-gray-500">
                                        Ceritakan secara singkat tentang dirimu,supaya orang lain mengenalimu
                                    </p>
                                </div>

                                <div>
                                    <label class="block text-sm font-medium text-gray-700">Avatar</label>
                                    <div class="mt-1 flex items-center gap-3">
                                        <span class="inline-block h-12 w-12 overflow-hidden rounded-full bg-gray-100">
                                            <img v-if="form.tempFoto" :src="`${form.tempFoto}`" class="object-cover" />
                                            <img v-else-if="$auth.user.avatar" class="object-cover" :src="`${$config.baseUrl}/${_.replace($auth.user.avatar,'public/','')}`" />
                                            <img v-else :src="`${$config.fakeAvatarUrl}/${$auth.user.fullname}.svg`" />
                                        </span>
                                        <label class="block">
                                            <span class="sr-only cursor-pointer">Choose File</span>
                                            <input type="file" ref="file" v-on:change="handleFileUpload()"
                                                class="block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-blue-50 file:text-blue-700 hover:file:bg-blue-100 cursor-pointer" />
                                        </label>
                                    </div>
                                </div>

                                <!-- <div>
                                    <label class="block text-sm font-medium text-gray-700">Cover photo</label>
                                    <div
                                        class="mt-1 flex justify-center rounded-md border-2 border-dashed border-gray-300 px-6 pt-5 pb-6">
                                        <div class="space-y-1 text-center">
                                            <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor"
                                                fill="none" viewBox="0 0 48 48" aria-hidden="true">
                                                <path
                                                    d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                            </svg>
                                            <div class="flex text-sm text-gray-600">
                                                <label for="file-upload"
                                                    class="relative cursor-pointer rounded-md bg-white font-medium text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:text-indigo-500">
                                                    <span>Upload a file</span>
                                                    <input id="file-upload" name="file-upload" type="file"
                                                        class="sr-only" />
                                                </label>
                                                <p class="pl-1">or drag and drop</p>
                                            </div>
                                            <p class="text-xs text-gray-500">
                                                PNG, JPG, GIF up to 10MB
                                            </p>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                            <div class="bg-gray-50 px-4 py-3 flex justify-end gap-28 items-baseline sm:px-6">
                                <span v-if="error" class="text-rose-400">
                                    {{error}}
                                </span>
                                <button @click.prevent="submit()"
                                    class="active:scale-75 transition ease-linear inline-flex justify-center rounded-md bg-blue-100 py-2 px-4 text-sm font-semibold text-blue-700 shadow-sm">
                                    Simpan
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="hidden sm:block" aria-hidden="true">
            <div class="py-5">
                <div class="border-t border-gray-200" />
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            form: {
                id: this.$auth.user.id,
                username: this.$auth.user.username,
                biodata: this.$auth.user.biodata,
                angkatan_id: this.$auth.user.angkatan_id ?? 'default',
                avatar: null,
                tempFoto:null
            },
            angkatan: [],
            error:null,
        };
    },
    mounted(){
        this.getAngkatan();
    },
    methods: {
        getAngkatan(){
            $nuxt.$axios.get('master-data/angkatan')
            .then((res) => this.angkatan = res.data)
            .catch(()=>this.$toast.show({type: "danger",title: "Error",message: `Gagal Mengambil Data Angkatan`,}))
        },
        handleFileUpload() {
            // console.log(this.$refs.file.value)
            this.form.avatar = this.$refs.file.files[0];
            this.form.tempFoto = URL.createObjectURL(this.form.avatar);
        },
        submit() {
            let formData = new FormData();
            formData.append("avatar", this.form.avatar);
            formData.append("username", this.form.username);
            formData.append("angkatan_id", this.form.angkatan_id);
            formData.append("biodata", this.form.biodata);
            formData.append("id", this.form.id);
            this.$axios
            .post(`user-management/update-user-profile`, formData, {
                headers: { "Content-Type": "multipart/form-data" },
            })
            .then(() => {
                this.$toast.show({
                    type: "success",
                    title: "Sukses",
                    message: `Data user <b> ${this.$auth.user.fullname} </b> berhasil diperbarui`,
                });
                // this.resetForm()
                // this.$nuxt.$emit('eventName','nice payload')
                })
                .catch((err) =>
                    this.error = this._.first(this._.flattenDeep(Object.values(err.response.data)))
                    
                );
        },
        resetForm() {
            this.form.id = this.$auth.user.id,
            this.form.angkatan_id = this.$auth.user.angkatan_id ?? 'default',
            this.form.username = this.$auth.user.username,
            this.form.avatar = null,
            this.form.biodata = this.$auth.user.biodata,
            this.error = null
        },
    },
};
</script>

<style>

</style>