<template>
    <div>
        <div class="mt-10 sm:mt-0">
            <div class="md:grid md:grid-cols-3 md:gap-6">
                <div class="md:col-span-1">
                    <div class="px-4 sm:px-0">
                        <h3 class="text-lg font-medium leading-6 text-gray-900">
                            Credentials
                        </h3>
                        <p class="mt-1 text-sm text-gray-600">
                            Lorem ipsum dolor sit amet consectetur, 
                        </p>
                    </div>
                </div>
                <div class="mt-5 md:col-span-2 md:mt-0">
                    <div class="overflow-hidden shadow sm:rounded-md">
                        <div class="bg-white px-4 py-5 sm:p-6">
                            <div class="grid grid-cols-6 gap-2">
                                <div class="col-span-6 sm:col-span-3">
                                    <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
                                    <input v-model="form.password" type="password" name="password" id="password"
                                        autocomplete="given-name"
                                        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" />
                                </div>
                                <div class="col-span-6 sm:col-span-3">
                                    <label for="confirm" class="block text-sm font-medium text-gray-700">Confirm Password</label>
                                    <input v-model="form.password_confirmation" type="password" name="confirm" id="confirm"
                                        autocomplete="given-name"
                                        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" />
                                </div>
                            </div>
                        </div>
                        <div class="bg-gray-50 px-4 py-3 flex justify-end gap-28 items-baseline sm:px-6">
                            <span v-if="error" class="text-rose-400">
                                {{error}}
                            </span>
                            <button @click.prevent="submit()"
                                class="active:scale-75 transition ease-linear inline-flex justify-center rounded-md bg-blue-100 py-2 px-4 text-sm font-semibold text-blue-700 shadow-sm">
                                Simpan
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="hidden sm:block" aria-hidden="true">
            <div class="py-5">
                <div class="border-t border-gray-200" />
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            error:null,
            form:{
                password:null,
                password_confirmation:null
            }
        };
    },
    methods: {
        submit(){
            $nuxt.$axios.post('user-management/update-user-profile/',this.form)
            .then(() => {
                this.$toast.show({
                    type: "success",
                    title: "Sukses",
                    message: `Data user <b> ${this.$auth.user.fullname} </b> berhasil diperbarui`,
                });
                // this.resetForm()
                // this.$nuxt.$emit('eventName','nice payload')
                })
                .catch((err) =>
                    this.error = this._.first(this._.flattenDeep(Object.values(err.response.data)))
                    
                );
        }
    },
};
</script>

<style>

</style>