<template>
    <div>
        <div class="mt-10 sm:mt-0">
            <div class="md:grid md:grid-cols-3 md:gap-6">
                <div class="md:col-span-1">
                    <div class="px-4 sm:px-0">
                        <h3 class="text-lg font-medium leading-6 text-gray-900">
                            Personal Information
                        </h3>
                        <p class="mt-1 text-sm text-gray-600">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur, voluptas?
                        </p>
                    </div>
                </div>
                <div class="mt-5 md:col-span-2 md:mt-0">
                    <form action="#" method="POST">
                        <div class="overflow-hidden shadow sm:rounded-md">
                            <div class="bg-white px-4 py-5 sm:p-6">
                                <div class="grid grid-cols-6 gap-6">
                                    <div class="col-span-6 sm:col-span-3">
                                        <label for="first-name" class="block text-sm font-medium text-gray-700">Nama Depan</label>
                                        <input v-model="form.first_name" type="text" name="first-name" id="first-name"
                                            autocomplete="given-name"
                                            class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" />
                                    </div>

                                    <div class="col-span-6 sm:col-span-3">
                                        <label for="last-name" class="block text-sm font-medium text-gray-700">Nama Belakang</label>
                                        <input v-model="form.last_name" type="text" name="last-name" id="last-name" autocomplete="family-name"
                                            class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" />
                                    </div>

                                    <div class="col-span-6 sm:col-span-4">
                                        <label for="email-address" class="block text-sm font-medium text-gray-700">Alamat Email</label>
                                        <input v-model="form.email" type="text" name="email-address" id="email-address"
                                            autocomplete="email"
                                            class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" />
                                    </div>
                                    <div class="col-span-6 sm:col-span-2">
                                        <label for="gender"
                                            class="block text-sm font-medium text-gray-700">Jenis Kelamin</label>
                                        <select v-model="form.gender" id="gender" name="gender" autocomplete="gender-name"
                                            class="mt-1 block w-full rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                                            <option value="laki-laki">Laki-Laki</option>
                                            <option value="perempuan">Perempuan</option>
                                        </select>
                                    </div>

                                    <div class="col-span-6 sm:col-span-2">
                                        <label for="contact"
                                            class="block text-sm font-medium text-gray-700">Nomor Telepon</label>
                                        <div class="mt-1 flex rounded-md shadow-sm">
                                            <span
                                                class="inline-flex items-center rounded-l-md border border-r-0 border-gray-300 bg-gray-50 px-3 text-sm text-gray-500">+ 62</span>
                                            <input v-model="form.contact" type="text" name="contact" id="contact"
                                                class="block w-full flex-1 rounded-none rounded-r-md border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                                                placeholder="896-238-2387" />
                                        </div>
                                    </div>

                                    <div class="col-span-6 sm:col-span-2">
                                        <label for="country"
                                            class="block text-sm font-medium text-gray-700">Role</label>
                                        <select v-model="form.role" disabled id="country" name="country" autocomplete="country-name"
                                            class="mt-1 block w-full rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm capitalize">
                                            <option v-for="(role,index) in roles" :key="index" :value="role.id">{{role.name}}</option>
                                        </select>
                                    </div>

                                    <div class="col-span-6 sm:col-span-2">
                                        <label for="country"
                                            class="block text-sm font-medium text-gray-700">Tanggal Lahir</label>
                                            <input v-model="form.birth_day" type="date"
                                            class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" />
                                    </div>

                                    <div class="col-span-6">
                                        <label for="street-address"
                                            class="block text-sm font-medium text-gray-700">Alamat Lengkap</label>
                                            <textarea v-model="form.address" id="street-address" name="street-address" rows="3"
                                            class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                                            placeholder="you@example.com" />
                                    </div>

                                </div>
                            </div>
                            <div class="bg-gray-50 px-4 py-3 flex justify-end gap-28 items-baseline sm:px-6">
                                <span v-if="error" class="text-rose-400">
                                    {{error}}
                                </span>
                                <button @click.prevent="submit()"
                                    class="active:scale-75 transition ease-linear inline-flex justify-center rounded-md bg-blue-100 py-2 px-4 text-sm font-semibold text-blue-700 shadow-sm">
                                    Simpan
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="hidden sm:block" aria-hidden="true">
            <div class="py-5">
                <div class="border-t border-gray-200" />
            </div>
        </div>
    </div>
</template>

<script>
import {mapGetters,mapState,mapActions,mapMutations} from 'vuex';
export default {
    computed: mapState(['user']),
    data(){
        return {
            roles:[],
            form:{
                first_name:this.$auth.user.first_name,
                last_name:this.$auth.user.last_name,
                gender:this.$auth.user.gender,
                contact:this.$auth.user.contact,
                birth_day:this.$auth.user.birth_day,
                biodata:this.$auth.user.biodata,
                address:this.$auth.user.address,
                email:this.$auth.user.email,
                role:this.$auth.user.roles[0].id
            },
            error:null
        }
    },
    mounted(){
        this.getRoles();
    },
    methods:{
        getRoles(){
            $nuxt.$axios.get('user-management/role')
            .then((res) => this.roles = res.data)
            .catch(()=>this.$toast.show({type: "danger",title: "Error",message: `Gagal Mengambil Data Angkatan`,}))
        },
        submit(){
            $nuxt.$axios.post('user-management/update-user-profile',this.form)
            .then(() => {
                this.$toast.show({
                    type: "success",
                    title: "Sukses",
                    message: `Data user <b> ${this.$auth.user.fullname} </b> berhasil diperbarui`,
                });
                this.error = null,
                this.getUser()
            })
            .catch((err) => this.error = this._.first(this._.flattenDeep(Object.values(err.response.data))))
        },
        ...mapActions(['getUser'])
    },
}
</script>

<style>

</style>