<template>
    <div class="mt-10 sm:mt-0">
        <div class="md:grid md:grid-cols-3 md:gap-6">
            <div class="md:col-span-1">
                <div class="px-4 sm:px-0">
                    <h3 class="text-lg font-medium leading-6 text-gray-900">
                        Riwayat Pendidikan
                    </h3>
                    <p class="mt-1 text-sm text-gray-600">
                        Use a permanent address where you can receive mail.
                    </p>
                </div>
            </div>
            <div class="mt-5 md:col-span-2 md:mt-0">
                <div class="overflow-hidden shadow sm:rounded-md">
                    <div class="bg-white px-4 py-5 sm:p-6">
                        <div v-for="(pendidikan,index) in pendidikans" :key="index" class="grid grid-cols-6 items-end gap-6">
                            <div class="col-span-3">
                                <label :for="`pendidikans[${index}]`" class="block text-sm font-medium text-gray-700">Nama Sekolah</label>
                                <input v-model="pendidikan.name" type="text" :name="`pendidikans[${index}]`" :id="`pendidikans[${index}]`" autocomplete="given-name" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" />
                            </div>
                            <div class="col-span-1">
                                <label class="block text-sm font-medium text-gray-700">Tahun Masuk</label>
                                <input v-model="pendidikan.tahun_masuk" type="text" autocomplete="given-name" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" />
                            </div>
                            <div class="col-span-1">
                                <label class="block text-sm font-medium text-gray-700">Tahun Lulus</label>
                                <input v-model="pendidikan.tahun_lulus" type="text" autocomplete="given-name" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" />
                            </div>
                            <div class="col-span-1">
                                <button @click="addForm()" type="button" class="inline-flex justify-center rounded-full border border-transparent bg-sky-400 p-2 text-sm font-medium text-white shadow-sm hover:bg-sky-600 mr-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                                        <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
                                    </svg>                                              
                                </button>
                                <button @click="deleteForm()" type="button" class="inline-flex justify-center rounded-full border border-transparent bg-pink-400 p-2 text-sm font-medium text-white shadow-sm hover:bg-pink-600">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                                        <path d="M6.75 9.25a.75.75 0 000 1.5h6.5a.75.75 0 000-1.5h-6.5z" />
                                    </svg>                                                                                      
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="bg-gray-50 px-4 py-3 flex justify-end gap-28 items-baseline sm:px-6">
                        <span v-if="error" class="text-rose-400">
                            {{error}}
                        </span>
                        <button @click.prevent="submit()"
                            class="active:scale-75 transition ease-linear inline-flex justify-center rounded-md bg-blue-100 py-2 px-4 text-sm font-semibold text-blue-700 shadow-sm">
                            Simpan
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    layout: "admin",
    data() {
        return {
            error:null,
            pendidikans:JSON.parse($nuxt.$auth.user.riwayat_pendidikan) ?? [{name:'',tahun_masuk:null,tahun_lulus:null}]
        };
    },
    methods: {
        submit(){
            console.log(this.pendidikans)
            let postData = {
                riwayat_pendidikan: this.pendidikans
            }
            $nuxt.$axios.post('user-management/update-user-profile',postData)
            .then(() => {
                this.$toast.show({
                    type: "success",
                    title: "Sukses",
                    message: `Data user <b> ${this.$auth.user.fullname} </b> berhasil diperbarui`,
                });
                this.error = null,
                this.getUser()
            })
            .catch((err) => this.error = this._.first(this._.flattenDeep(Object.values(err.response.data))))
        },
        addForm(){
            this.pendidikans.push({
                name:'',
                tahun_masuk:null,
                tahun_lulus:null
            })
        },
        deleteForm(){
            this.pendidikans.shift();
        }
    },
};
</script>

<style>

</style>