<template>
    <div class="flex justify-between my-6">
        <div class="flex text-gray-700 gap-5 items-baseline">
            <span>Menampilkan {{ pagination.from }} sampai {{ pagination.to }} dari {{ pagination.totalPages }} data</span>
        </div>
        <div class="flex">
            <button :disabled="!pagination.prevPageUrl" @click.prevent="changePage(pagination.prevPageUrl)" :class="`h-8 w-8 mr-1 flex justify-center items-center rounded-full  cursor-pointer ${!pagination.prevPageUrl ? 'bg-gray-200 text-slate-500' : 'bg-yellow-200 text-orange-600'}`">
                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left w-4 h-4">
                    <polyline points="15 18 9 12 15 6"></polyline>
                </svg>
            </button>
            <button :disabled="!pagination.nextPageUrl" @click.prevent="changePage(pagination.nextPageUrl)" :class="`h-8 w-8 ml-1 flex justify-center items-center rounded-full cursor-pointer ${!pagination.nextPageUrl ? 'bg-gray-200 text-slate-500' : 'bg-yellow-200 text-orange-600'}`">
                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right w-4 h-4">
                    <polyline points="9 18 15 12 9 6"></polyline>
                </svg>
            </button>
        </div>
    </div>
</template>

<script>
export default {
    props:{
        pagination:{
            type:Object,
        }
    },
    data(){
        return {
            url:''
        }
    },
    methods:{
        changePage(){
            this.$emit('handlePageChange')
        }
    }
}
</script>

<style>

</style>