<template>
    <vue-final-modal v-slot="{ params, close }" v-bind="$attrs" classes="flex justify-center items-center backdrop-blur-sm py-4"
        content-class="relative flex flex-col max-h-full mx-4 p-4 border dark:border-gray-800 rounded-xl bg-white dark:bg-gray-900"
        v-on="$listeners">
        <span class="mr-8 text-2xl font-bold text-center">
            <slot name="title"></slot>
        </span>
        <div class="flex-grow overflow-y-auto">
            <slot v-bind:params="params"></slot>
        </div>
        <div class="flex-shrink-0 flex justify-between items-center pt-4 gap-2">
            <span class="mx-auto text-rose-500">{{ errors }}</span>
            <div class="flex gap-2">
                <button v-if="buttonCancel" data-mdb-ripple="true" data-mdb-ripple-color="light" class="inline-flex items-center py-2.5 px-3 text-sm font-medium text-rose-600 bg-rose-200 rounded-lg active:scale-95" @click="$emit('cancel', close)">
                    <IconBang primary="text-red-300" secondary="text-red-400" class="w-5 h-5 mr-2" />
                    {{ textCancel }}
                </button>
                <button v-if="buttonConfirm" data-mdb-ripple="true" data-mdb-ripple-color="light" class="inline-flex items-center py-2.5 px-3 text-sm font-medium text-teal-600 bg-teal-200 rounded-lg active:scale-95" @click="$emit('confirm', close)">
                    <IconSave primary="text-green-400" secondary="text-green-500" class="w-5 h-5 mr-2" />
                    {{ textConfirm }}
                </button>
                <button class="absolute top-0 right-0 mt-2 mr-2" @click="$emit('cancel', close)">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="fill-rose-400 w-10 h-10">
                        <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm-1.72 6.97a.75.75 0 10-1.06 1.06L10.94 12l-1.72 1.72a.75.75 0 101.06 1.06L12 13.06l1.72 1.72a.75.75 0 101.06-1.06L13.06 12l1.72-1.72a.75.75 0 10-1.06-1.06L12 10.94l-1.72-1.72z" clip-rule="evenodd" />
                    </svg>                            
                </button>
            </div>
        </div>
    </vue-final-modal>
</template>

<script>
export default {
    name: 'VTailwindModal',
    inheritAttrs: false,
    props:{
        buttonConfirm:{
            type:Boolean,
            default: true
        },
        buttonCancel:{
            type:Boolean,
            default: true
        },
        textConfirm: {
            type:String,
            default: 'Confirm'
        },
        textCancel:{
            type:String,
            default: 'Close'
        },
        errors:{
            type:String,
            default: null
        }
    }
}
</script>
