<template>
    <div>
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-20 h-20 mx-auto">
                <path stroke-linecap="round" stroke-linejoin="round" d="M18 18.72a9.094 9.094 0 003.741-.479 3 3 0 00-4.682-2.72m.94 3.198l.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0112 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 016 18.719m12 0a5.971 5.971 0 00-.941-3.197m0 0A5.995 5.995 0 0012 12.75a5.995 5.995 0 00-5.058 2.772m0 0a3 3 0 00-4.681 2.72 8.986 8.986 0 003.74.477m.94-3.197a5.971 5.971 0 00-.94 3.197M15 6.75a3 3 0 11-6 0 3 3 0 016 0zm6 3a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0zm-13.5 0a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0z" />
            </svg>              
            <h1 class="text-3xl font-bold text-center mb-4">Login Page Student</h1>
        </div>
        <div class="space-y-4">
            <input v-model="form.email" type="text" placeholder="Email Addres"
                class="block text-sm py-3 px-4 rounded-lg w-full border outline-none" />
            <input type="password" v-model="form.password" placeholder="Password"
                class="block text-sm py-3 px-4 rounded-lg w-full border outline-none" />
        </div>
        <div class="text-center mt-6">
            <button @click="login" class="py-3 w-64 text-xl text-white bg-teal-400 rounded-2xl">Submit</button>
        </div>
    </div>
</template>

<script>
export default {
    layout: "auth",
    data() {
        return {
            form: {
                email: '',
                password: ''
            },
            errors: null,
            submitStatus: null
        }
    },
    mounted() {

    },
    methods: {
        async login() {
            try {
                await this.$auth.loginWith('local', { data: this.form })
                    .then(() => this.$toast.show({
                        type: 'success',
                        title: 'Success',
                        message: 'Login Berhasil',
                    }))
            } catch (error) {
                this.errors = error.response.status;
                console.log(this.errors)
                this.$toast.show({
                    type: 'danger',
                    title: 'Error',
                    message: this.errors == 401 ? 'Data yang kamu kirimkan tidak cocok dengan database kita,mohon dicek ulang' : 'Mohon lengkapi username & password',
                    classToast: 'bg-rose-200',
                    classTitle: 'text-red-800',
                    classMessage: 'text-red-700',
                    classClose: 'text-rose-300',
                    classTimeout: 'bg-rose-600',
                })
            }
        }
    }
}
</script>

<style>

</style>