<template>
    <div class="font-sans bg-gray-200 flex flex-col min-h-screen w-full">
        <div>
            <div id="header" class="bg-gray-200 px-4 py-4">
                <div class="w-full md:max-w-7xl md:mx-auto md:flex md:items-center md:justify-between">
                    <div class="flex">
                        <!-- <img src="@/assets/logo/nec.png" class=" bg-opacity-80 w-16" alt="logo"> -->
                        <a href="#" class="inline-block py-2 text-gray-800 text-2xl font-bold">
                            <img class="w-10 h-10 text-red-700 fill-black" src="~/assets/logo/logo.svg" alt="">
                        </a>
                    </div>

                    <div class="hidden md:block">
                        <button @click="logout" v-if="this.$auth.loggedIn"
                            class="inline-flex gap-2 py-2 font-semibold px-4 text-gray-500 bg-white hover:bg-gray-100 rounded-lg">
                            Log Out</button>
                        <nuxt-link v-else to="auth/login"
                            class="inline-block py-2 font-semibold px-4 text-gray-500 bg-white hover:bg-gray-100 rounded-lg">
                            Login</nuxt-link>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mx-auto">
            <nuxt />
        </div>
    </div>
</template>

<script>
export default {
    methods: {
        async logout() {
            await this.$auth.logout();
            this.$router.push({ path: '/auth/login' });
            this.$toast.show({
                type: 'success',
                title: 'Success',
                message: 'Berhasil Logout',
                classToast: 'bg-teal-500',
                classTitle: 'text-teal-100',
                classMessage: 'text-teal-200',
                classClose: 'text-teal-300',
                classTimeout: 'bg-teal-800',
            })
        }
    }
}
</script>

<style scoped>
/* exact link will show the primary color for only the exact matching link */
a.nuxt-link-exact-active {
    color: #00c58e;
    font-weight: bold;
}
</style>