<template>
    <div>
        <v-tailwind-modal :errors="errors" :textConfirm="!isUpdate ? 'Save' : 'Update'" v-model="show"
            @confirm="!isUpdate ? save() : update()" @cancel="cancel">
            <template v-slot:title>{{ !isUpdate ? 'Add New Student' : 'Update Student' }}</template>
            <div class="flex items-center justify-center p-5">
                <div class="mx-auto w-full max-w-[550px]">
                    <div class="-mx-3 flex flex-wrap">

                        <div class="w-1/2 px-3">
                            <div class="mb-5">
                                <label for="user" class="mb-3 block text-base font-medium text-[#07074D]">
                                    Student Name
                                </label>
                                <input v-model="form.name" name="user" id="user" placeholder="Ahmad Kanabawi"
                                    class="text-gray-600 focus:outline-none focus:border focus:border-indigo-700 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border" />
                                <!-- <input class="text-gray-600 focus:outline-none focus:border focus:border-indigo-700 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border" /> -->
                            </div>
                        </div>

                        <div class="w-1/2 px-3">
                            <div class="mb-5">
                                <label class="mb-3 block text-base font-medium text-[#07074D]">
                                    Day of Birth
                                </label>
                                <input type="date" v-model="form.dob" placeholder="Ahmad_kanabawi@mail.com"
                                    class="text-gray-600 focus:outline-none focus:border focus:border-indigo-700 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border" />
                                <!-- <input class="text-gray-600 focus:outline-none focus:border focus:border-indigo-700 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border" /> -->
                            </div>
                        </div>

                        <div class="w-full px-3">
                            <div class="mb-5">
                                <label class="mb-3 block text-base font-medium text-[#07074D]">
                                    Gender
                                </label>
                                <select v-model="form.gender"
                                    class="text-gray-600 focus:outline-none focus:border focus:border-indigo-700 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border"
                                    id="grid-state">
                                    <option v-for="gender in genders" :key="gender.id" :value="gender.value"
                                        class="capitalize">{{ gender.text }}</option>
                                </select>
                            </div>
                        </div>

                        <div class="w-full px-3">
                            <label class="mb-3 block text-base font-medium text-[#07074D]">Avatar</label>
                            <div class="mt-1 flex items-center gap-3">
                                <span class="inline-block h-12 w-12 overflow-hidden rounded-full bg-gray-100">
                                    <img v-if="tempFoto" :src="`${tempFoto}`" class="object-fill" />
                                    <img v-else-if="oldImage" class="object-fill"
                                        :src="`${$config.baseUrl}/${_.replace(oldImage, 'public/', '')}`" />
                                    <div v-else>
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                            stroke-width="1.5" stroke="currentColor" class="w-6 h-6 my-3 mx-auto">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M2.25 15.75l5.159-5.159a2.25 2.25 0 013.182 0l5.159 5.159m-1.5-1.5l1.409-1.409a2.25 2.25 0 013.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 001.5-1.5V6a1.5 1.5 0 00-1.5-1.5H3.75A1.5 1.5 0 002.25 6v12a1.5 1.5 0 001.5 1.5zm10.5-11.25h.008v.008h-.008V8.25zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                                        </svg>
                                    </div>
                                </span>
                                <label class="block">
                                    <span class="sr-only cursor-pointer">Choose File</span>
                                    <input type="file" ref="file" v-on:change="handleFileUpload()"
                                        class="block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-blue-50 file:text-blue-700 hover:file:bg-blue-100 cursor-pointer" />
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </v-tailwind-modal>
        <section class="relative">
            <div class="w-full">
                <div class="grid grid-cols-3 items-center gap-2 my-2 justify-between">
                    <button @click="addData()" data-mdb-ripple="true" data-mdb-ripple-color="light"
                        class="inline-flex w-fit items-center py-2.5 px-3 text-sm font-medium text-sky-600 bg-sky-200 rounded-lg active:scale-95 drop-shadow-sm">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                            <path
                                d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
                        </svg>Add New Student
                    </button>
                    <div class="grid grid-cols-2 gap-2">
                        <select v-model="sortBy" @change="handleSortBy()"
                            class="text-gray-600 focus:outline-none focus:border focus:border-sky-500 font-normal w-full h-11 flex items-center pl-3 text-sm border-gray-300 rounded-lg border"
                            id="grid-state">
                            <option v-for="item in itemSortBy" :key="item.id" :value="item.value" class="capitalize">
                                {{ item.text }}</option>
                        </select>
                        <button @click="handleSortBy(orderBy = 'desc')" v-if="orderBy == 'asc'" data-mdb-ripple="true" data-mdb-ripple-color="light"
                            class="inline-flex items-center w-fit py-2.5 gap-2 px-3 text-sm font-medium text-sky-600 bg-sky-200 rounded-lg active:scale-95 drop-shadow-sm">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5M12 17.25h8.25" />
                            </svg>                          
                            A - Z
                        </button>
                        <button @click="handleSortBy(orderBy = 'asc')" v-else data-mdb-ripple="true" data-mdb-ripple-color="light"
                            class="inline-flex items-center w-fit py-2.5 gap-2 px-3 text-sm font-medium text-sky-600 bg-sky-200 rounded-lg active:scale-95 drop-shadow-sm">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5M12 17.25h8.25" />
                            </svg>                          
                            Z - A
                        </button>
                    </div>
                    <div class="relative mr-aut flex gap-2">
                        <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                            <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor"
                                viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </div>
                        <input v-on:keyup.enter="getStudents()" v-model="search" type="text"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-sky-500 focus:border-sky-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-sky-500 dark:focus:border-sky-500"
                            placeholder="Search..." />
                    </div>
                </div>
                <div class="relative flex flex-col min-w-0 break-words w-full shadow-lg rounded-xl bg-white text-white">
                    <div class="block w-full overflow-x-auto rounded-md">
                        <table class="items-center w-full bg-transparent border-collapse">
                            <thead>
                                <tr>
                                    <th
                                        class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-white text-gray-600">
                                        Name</th>
                                    <th
                                        class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-white text-gray-600">
                                        Gender</th>
                                    <th
                                        class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-white text-gray-600">
                                        Day of Birth</th>
                                    <th
                                        class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-center bg-white text-gray-600">
                                        Opsi</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr v-for="(student, index) in students" :key="index">
                                    <td
                                        class="px-6 align-middle text-xs whitespace-nowrap p-4 text-gray-500 text-left flex items-center">
                                        <img v-viewer
                                            :src="`${$config.baseUrl}/${_.replace(student.avatar, 'public/', '')}`"
                                            class="rounded-full cursor-pointer outline-blue-500 outline-dashed outline-2 shadow-md"
                                            style="height: 40px; width: 40px" alt="" loading="lazy" />
                                        <span class="ml-3 font-bold text-gray-500 capitalize">
                                            {{ student.name }}
                                        </span>
                                    </td>
                                    <td
                                        class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-gray-500">
                                        <span
                                            :class="`${student.gender == 'M' ? 'bg-teal-200 text-teal-600 ' : 'bg-pink-200 text-pink-600 '} py-1 px-3 rounded-full text-xs`">{{
                                                    student.gender == 'M' ? 'Male' : 'Female'
                                            }}</span>
                                    </td>
                                    <td
                                        class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-gray-500">
                                        <span>{{
                                                $moment(student.dob).format("MMMM Do YYYY")
                                        }}</span>
                                    </td>
                                    <td
                                        class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-gray-500">
                                        <div class="flex gap-2 align-middle justify-center">
                                            <div class="hover:-mt-2 transition">
                                                <button @click="edit(student.id)"
                                                    class="w-10 h-10 flex items-center justify-center bg-teal-100 outline-none text-teal-500 rounded-full group hover:bg-teal-500 hover:text-white hover:border-transparent focus:bg-teal-500 focus:text-white focus:border-transparent active:scale-95 disabled:bg-gray-400/80 disabled:shadow-none disabled:cursor-not-allowed">

                                                    <!-- HeroIcons - Outlined Duplicate -->
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                                        class="h-5 w-5 group-hover:hidden group-focus:hidden">
                                                        <path stroke-linecap="round" stroke-linejoin="round"
                                                            d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                                                    </svg>
                                                    <!-- HeroIcons - Solid Duplicate -->
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                                        fill="currentColor"
                                                        class="h-6 w-6 hidden  group-hover:inline group-focus:inline">
                                                        <path
                                                            d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32l8.4-8.4z" />
                                                        <path
                                                            d="M5.25 5.25a3 3 0 00-3 3v10.5a3 3 0 003 3h10.5a3 3 0 003-3V13.5a.75.75 0 00-1.5 0v5.25a1.5 1.5 0 01-1.5 1.5H5.25a1.5 1.5 0 01-1.5-1.5V8.25a1.5 1.5 0 011.5-1.5h5.25a.75.75 0 000-1.5H5.25z" />
                                                    </svg>
                                                </button>
                                            </div>
                                            <div class="hover:-mt-2 transition">
                                                <button @click="deleteStudent(student.id)"
                                                    class="w-10 h-10 flex items-center justify-center bg-rose-100 outline-none text-rose-500 rounded-full group hover:bg-rose-500 hover:text-white hover:border-transparent focus:bg-rose-500 focus:text-white focus:border-transparent active:scale-95 disabled:bg-gray-400/80 disabled:shadow-none disabled:cursor-not-allowed ">

                                                    <!-- HeroIcons - Outlined Duplicate -->
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                                        class="h-5 w-5 group-hover:hidden group-focus:hidden">
                                                        <path stroke-linecap="round" stroke-linejoin="round"
                                                            d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                                    </svg>
                                                    <!-- HeroIcons - Solid Duplicate -->
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                                        fill="currentColor"
                                                        class="h-6 w-6 hidden  group-hover:inline group-focus:inline">
                                                        <path fill-rule="evenodd"
                                                            d="M16.5 4.478v.227a48.816 48.816 0 013.878.512.75.75 0 11-.256 1.478l-.209-.035-1.005 13.07a3 3 0 01-2.991 2.77H8.084a3 3 0 01-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 01-.256-1.478A48.567 48.567 0 017.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 013.369 0c1.603.051 2.815 1.387 2.815 2.951zm-6.136-1.452a51.196 51.196 0 013.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 00-6 0v-.113c0-.794.609-1.428 1.364-1.452zm-.355 5.945a.75.75 0 10-1.5.058l.347 9a.75.75 0 101.499-.058l-.346-9zm5.48.058a.75.75 0 10-1.498-.058l-.347 9a.75.75 0 001.5.058l.345-9z"
                                                            clip-rule="evenodd" />
                                                    </svg>
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <div class="flex justify-between my-6">
            <div class="flex text-gray-700 gap-5 items-baseline">
                <span>Menampilkan {{ pagination.from }} sampai {{ pagination.to }} total {{ pagination.totalPages }}
                    data</span>
            </div>
            <div class="flex">
                <button :disabled="!pagination.prevPageUrl" @click.prevent="changePage(pagination.prevPageUrl)"
                    :class="`h-8 w-8 mr-1 flex justify-center items-center rounded-full transition ease-in-out cursor-pointer ${!pagination.prevPageUrl ? 'bg-gray-200 text-slate-500' : 'bg-yellow-200 text-orange-600 active:scale-75'}`">
                    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-chevron-left w-4 h-4">
                        <polyline points="15 18 9 12 15 6"></polyline>
                    </svg>
                </button>
                <button :disabled="!pagination.nextPageUrl" @click.prevent="changePage(pagination.nextPageUrl)"
                    :class="`h-8 w-8 ml-1 flex justify-center items-center rounded-full transition ease-in-out cursor-pointer ${!pagination.nextPageUrl ? 'bg-gray-200 text-slate-500' : 'bg-yellow-200 text-orange-600 active:scale-75'}`">
                    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-chevron-right w-4 h-4">
                        <polyline points="9 18 15 12 9 6"></polyline>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    layout: 'guest',
    middleware:'authenticate',
    components: {

    },
    setup() {

    },
    data: () => ({
        show: false,
        sortBy: 'name',
        orderBy:'asc',
        search: '',
        url: '',
        tempFoto: null,
        errors:null,
        form: {
            id: null,
            avatar: null,
            name: '',
            gender: 'M',
            dob: '',
        },
        oldImage: null,
        students: [],
        genders: [
            { text: 'Male', value: 'M' },
            { text: 'Female', value: 'F' },
        ],
        itemSortBy: [
            { text: 'Name', value: 'name' },
            { text: 'Gender', value: 'gender' },
            { text: 'Day of Birth', value: 'dob' },
        ],
        isUpdate: false,
        pagination: {
            totalPages: 0,
            perPage: 0,
            currentPage: 1,
            lastPage: 0,
            from: 0,
            to: 0,
            nextPageUrl: '',
            prevPageUrl: ''
        }
    }),
    created() {
        this.url = `student`;
        this.getStudents();
    },
    methods: {
        getStudents() {
            if (this.search != '') {
                this.$axios.get('student',{params:{
                    sortBy:this.sortBy,
                    orderBy:this.orderBy,
                    search:this.search,
                    page:this.pagination.currentPage
                }})
                    .then((response) => {
                        let data = response.data.data.data
                        this.students = data;
                        this.currentPage = response.data.data.current_page;
                        this.totalPages = response.data.data.last_page;
                        this.perPage = response.data.data.perPage;
                    }).catch(err => { console.log(err) });
            } else if (this.sortBy != 'name') {
                this.$axios.get('student',{params:{
                    sortBy:this.sortBy,
                    orderBy:this.orderBy,
                    search:this.search,
                    page:this.pagination.currentPage
                }})
                    .then((response) => {
                        let data = response.data.data.data
                        console.log(data);
                        this.students = data;
                        this.currentPage = response.data.data.current_page;
                        this.totalPages = response.data.data.last_page;
                        this.perPage = response.data.data.perPage;
                    }).catch(err => { console.log(err) });
            } else {
                this.$axios.get(this.url,{params:{
                    sortBy:this.sortBy,
                    orderBy:this.orderBy,
                    search:this.search,
                    page:this.pagination.currentPage
                }})
                    .then((response) => {
                        this.students = response.data.data.data;
                        this.pagination.totalPages = response.data.data.total;
                        this.pagination.perPage = response.data.data.per_page;
                        this.pagination.currentPage = response.data.data.current_page;
                        this.pagination.lastPage = response.data.data.last_page;
                        this.pagination.from = response.data.data.from;
                        this.pagination.to = response.data.data.to;
                        this.pagination.nextPageUrl = response.data.data.next_page_url;
                        this.pagination.prevPageUrl = response.data.data.prev_page_url;
                        // console.log(response.data)
                    }).catch(err => { console.log(err) });
            }
        },
        changePage(url) {
            this.url = url;
            this.getStudents();
        },
        addData() {
            this.show = true;
        },
        save() {
            let formData = new FormData();
            formData.append("avatar", this.form.avatar);
            formData.append("name", this.form.name);
            formData.append("gender", this.form.gender);
            formData.append("dob", this.form.dob);
            this.$axios.post("student/", formData)
                .then((response) => {
                    // console.log(response);
                    this.$toast.show({
                        type: 'success',
                        title: 'Sukses',
                        message: 'New Student has been created',
                    });
                    this.getStudents();
                    this.show = false;
                    this.resetForm();
                })
                .catch(err => this.errors = this._.first(this._.flattenDeep(Object.values(err.response.data.error))));
        },
        edit(id) {
            this.isUpdate = true;
            this.show = true;
            let studentId = id
            this.$axios.get('student/' + studentId)
                .then((response) => {
                    let data = response.data
                    this.form.id = data.id;
                    this.form.name = data.name;
                    this.form.gender = data.gender;
                    this.form.dob = data.dob;
                    this.oldImage = data.avatar;
                })
                .catch((err) => console.log(err))
        },
        update() {
            let formData = new FormData();
            formData.append("avatar", this.form.avatar);
            formData.append("name", this.form.name);
            formData.append("gender", this.form.gender);
            formData.append("dob", this.form.dob);
            formData.append("_method", 'PUT');
            this.$axios.post('student/' + this.form.id, formData)
                .then(() => {
                    this.$toast.show({
                        type: 'success',
                        title: 'Sukses',
                        message: `Student has been updated`,
                    });
                    this.show = false;
                    this.resetForm();
                    this.getStudents();
                }).catch(err => this.errors = this._.first(this._.flattenDeep(Object.values(err.response.data.error))));
        },
        cancel(close) {
            close();
            this.resetForm();
        },
        deleteStudent(id) {
            this.$modal.show({
                type: "danger",
                title: `Delete Student`,
                body: "Are you sure delete this student?",
                primary: {
                    label: "Yes",
                    theme: "red",
                    action: () => this.$axios.delete(`student/${id}`).then(() => {
                        this.$toast.success(`Student has been deleted`);
                        this.getStudents()
                    },)
                },
                secondary: {
                    label: "Cancel",
                    theme: "white",
                    action: () => null,
                },
            });
        },
        handleFileUpload() {
            // console.log(this.$refs.file.value)
            this.form.avatar = this.$refs.file.files[0];
            this.tempFoto = URL.createObjectURL(this.form.avatar);
        },
        handleSortBy() {
            this.getStudents()
        },
        resetForm() {
            this.form.id = null,
            this.form.name = null,
            this.form.avatar = null,
            this.form.dob = null,
            this.form.gender = 'M',
            this.isUpdate = false,
            this.errors = null
        },
    },
};
</script>

<style>

</style>